


body{
background-color:#8b008b;/*背景の色を変える*/
}
h1　span{
font-size:.50em;
font-weight:.900em;
color:#3399cc;
   text-align:center;
}
#lead{
    border-top:　#00ffff 1px dotted;
….
    text-align: center;
}
. greeting{
    border-top: #00ffff 1px dotted;
….
    text-align: center;
}


p{
font-size:0.8em;
background-color:#00ffff;/*段階の文字の背景の色だけ色が変わる*/
color:#333333;
   text-align:center;
}
a{
color:#df4839;
}
a:hover{
  color:#ff705b;/*マウスが乗った時だけ色を変える*/
}
